{% extends 'padre/base.html' %}
{% block titulo %}
Albumes
{% endblock titulo %}
{% block contenido %}
<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Albumes musicales</h1>
          <p class="lead text-body-secondary">En esta seccion se mostraran albumes de todo tipo (mentira solo los que me gustan).</p>
          <p>
            <a href="#" class="btn btn-primary my-2">KPOP</a>
            <a href="#" class="btn btn-primary my-2">REGGEATON</a>
            <a href="#" class="btn btn-primary my-2">OTROS</a>

          </p>
        </div>
      </div>
    </section>
    {% if lista %}
    {% for album in lista %}   
    <div class="col" style="display: inline-flex; align-content: center; margin: 1%;" id="{{ album.id }}">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-body">
          <img src="{{ album.caratula }}" class="card-img-top" style="width: 300px; height: 300px;">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal" style="justify-content: start;">{{ album.nombre }}</h4>
          </div>
          <h3 class="card-title pricing-card-title">{{ album.autor }}</h1>
          <h5 class="pricing-card-title">{{ album.lugar }}</h1>
          <h5 class="pricing-card-title">{{ album.fecha }}</h1>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
    <h2 class="text-center">No hay datos coincidentes con la/s palabras: {{ palabra }}</h2>
  {% endif  %}
    
    
  
  </main>
{% endblock contenido %}