{% extends 'padre/base.html' %}
{% block titulo %}
Albumes
{% endblock titulo %}
{% block contenido %}
<main>
    {% for album in lista %}   
      <div class="col" style="display: inline-flex; align-content: center; margin: 3%;" id="{{ album.id }}">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ album.nombre }}</h4>
          </div>
          <div class="card-body">
            <img src="{{ album.caratula }}" class="card-img-top">
            <h1 class="card-title pricing-card-title">{{ album.precio }}</h1>
            <h5 class="card-title pricing-card-title">{{ album.autor }}</h5>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Cantidad disponible: {{ album.cantidad }}</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Comprar</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor album in lista %} 
  </main>
{% endblock contenido%}