{% extends 'padre/base.html' %}
{% load static %}
{% block titulo %}
Albumes
{% endblock titulo %}
{% block css %}
<style>
  .rounded {
    border-radius: 10px;
}
</style>
{% endblock css %}
{% block contenido %}
<br><br>
<section class="container">   
    <table class="table table-light table-striped-columns rounded" >
      <thead class="table-dark">
        <tr>
          <th scope="col">Artista</th>
          <th scope="col">Genero</th>
          <th scope="col">Titulo</th>
          <th scope="col">Precio</th>
        </tr>
      </thead>
      <tbody>
        {% for album in lista %}
        <tr>
          <th scope="row">{{ album.autor }}</th>
          <td>{{ album.autor }}</td>
          <td>{{ album.nombre }}</td>
          <td>{{ album.precio }}</td>
        </tr>
        {% endfor %} 
      </tbody>
    </table>
</section>
{% endblock contenido%}