{% extends 'padre/base.html' %}
{% load static %}
{% block titulo %}
Albumes
{% endblock titulo %}
{% block contenido %}
<main>
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'principal/img/omen.jpg' %}" style="height: 100%;width: auto; " alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'principal/img/viper.jpg' %}" style="height: 100%;width: auto;" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'principal/img/sage.jpg' %}" style="height: 100%;width: auto;" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Albumes musicales</h1>
          <p class="lead text-body-secondary">En esta seccion se mostraran albumes de todo tipo (mentira solo los que me gustan).</p>
          <p>
            <a href="#" class="btn btn-primary my-2">KPOP</a>
            <a href="#" class="btn btn-primary my-2">REGGEATON</a>
            <a href="#" class="btn btn-primary my-2">OTROS</a>

          </p>
        </div>
      </div>
    </section>
    {% if lista %}
    {% for album in lista %}   
    <div class="col" style="display: inline-flex; align-content: center; margin: 1%;" id="{{ album.id }}">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-body">
          <img src="{% static album.caratula %}" class="card-img-top" style="width: 300px; height: 300px;">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal" style="justify-content: start;">{{ album.nombre }}</h4>
          </div>
          <h3 class="card-title pricing-card-title">{{ album.autor }}</h1>
          <h5 class="pricing-card-title">{{ album.lugar }}</h1>
          <h5 class="pricing-card-title">{{ album.fecha }}</h1>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
    <h2 class="text-center">No hay datos coincidentes con la/s palabras: {{ palabra }}</h2>
  {% endif  %}
    
    
  
  </main>
{% endblock contenido %}