{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'principal/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'principal/css/style.css' %}">
    <title>
        {% block titulo %}
        Pagina E.I.
        {% endblock titulo %}
    </title>
    {% block css %}
    <style>
        body {
          background-color: #f2f2f2; /* Color gris claro */
      }
      </style>
    {% endblock css %}
</head>
<body>
    {% include 'padre/navbar.html' %}
    {% block contenido %}
    {% endblock contenido %}

    {% block js %}
    {% endblock js %}

    <script src="{% static 'principal/js/bootstrap.bundle.min.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://kit.fontawesome.com/c068349d90.js" crossorigin="anonymous"></script>
    {% load sweetify %}
    {% sweetify %}
</body>
</html>